[user]
	name = ghsable
	email = sn.sable005@gmail.com
[core]
	editor = vim
[alias]
	deleted = log --diff-filter=D --summary
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
	test = "!f() { echo $1 ;}; f"
[color]
	ui = 1
