*.t linguist-detectable=false
*.scm linguist-detectable=false
*.py linguist-detectable=false
*.c linguist-detectable=false
*.css linguist-detectable=false
*.el linguist-detectable=false
*.vim linguist-detectable=false
