[user]
	name = ghsable
	email = sn.sable005@gmail.com
[core]
	editor = vim
[alias]
	deleted = log --diff-filter=D --summary
	restore = "!er() { git checkout $1^ -- $2 ;}; er"
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
	test = "!et() { echo $1 ;}; et"
[color]
	ui = 1
