# LANG(X11)
export LANG=ja_JP.UTF-8

# Uim
export GTK_IM_MODULE='uim'
export QT_IM_MODULE='uim'
export XMODIFIERS='@im=uim'
uim-xim &

# Xbindkeys
xbindkeys &

# Xcompmgr
xcompmgr -c &

# Xset
xset s 60 &
xset dpms 120 &

# Feh
feh --randomize --bg-fill ~/wallpaper/* &

# Xmobar
xmobar ~/.xmobarrc &

# Xmonad
exec xmonad
