# ------ EXPORT ------
# --- LANG(X11)
export LANG='ja_JP.UTF-8'
#export LANG='en_US.UTF-8'
# --- Input Method Framework
export GTK_IM_MODULE='fcitx'
export QT_IM_MODULE='fcitx'
export XMODIFIERS='@im=fcitx'
export DefaultIMModule='fcitx'
# --- DESKTOP
#export DE='xmonad'

# ------ START ------
# --- Input Method Framework(fcitx)
fcitx autostart&

# --- XKB(X Keyboard extension)
sh ~/bin/xkb.sh make
sh ~/bin/xkb.sh load
sh ~/bin/xkb.sh map

# --- Xbindkeys
xbindkeys &

# --- Composite manager
picom -CGb -D 0

# --- Xset
sh ~/bin/xset.sh on 120

# --- XRandR
# --- Xinput(usbtouchscreen)
sh ~/bin/xrandr.sh mirror
sh ~/bin/xrandr.sh xinput

# --- Xinput(input-devices)
sh ~/bin/xinput.sh mouse-button

# --- Xmodmap
sh ~/bin/xmodmap.sh make
sh ~/bin/xmodmap.sh load

# --- dzen
sh ~/bin/dzen/dzconky.sh

# --- Dropbox
#/usr/bin/dropbox &

# --- VirtualBox
#sh ~/bin/virtualbox/install.sh modprobe

# --- Feh
/bin/feh --randomize --bg-fill ~/bin/feh/wallpaper/*

# --- Window Manager(Xmonad)
xmonad --recompile
exec xmonad

# ------ NOT USING ------
# Input Method Framework(Uim)
#export GTK_IM_MODULE='uim'
#export QT_IM_MODULE='uim'
#export XMODIFIERS='@im=uim'
#uim-xim &
