# LANG(X11)
export LANG=ja_JP.UTF-8

# XKB(X Keyboard extension)
sh ~/bin/xkb.sh make
sh ~/bin/xkb.sh load
sh ~/bin/xkb.sh map

# Input Method Framework(fcitx)
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export DefaultIMModule=fcitx
fcitx autostart&

# Feh
/bin/feh --randomize --bg-fill ~/bin/feh/wallpaper/*

# Xbindkeys
xbindkeys &

# Xcompmgr
xcompmgr -c &

# Xset
sh ~/bin/xset.sh on 60

# Xinput(usbtouchscreen)
sh ~/bin/xrandr.sh mirror
sh ~/bin/xrandr.sh xinput

# Xmodmap
sh ~/bin/xmodmap.sh make
sh ~/bin/xmodmap.sh load

# dzen
sh ~/bin/dzen/dzconky.sh

# Dropbox
/usr/bin/dropbox &

# SpiderOakONE
#/usr/bin/SpiderOakONE &

# Window Manager(Xmonad)
exec xmonad

#################### NOT USING #################### 
# Input Method Framework(Uim)
#export GTK_IM_MODULE='uim'
#export QT_IM_MODULE='uim'
#export XMODIFIERS='@im=uim'
#uim-xim &
